body {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('LeadtexFon.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin {
  width: 300px;
  height: 300px;
  background: url('LeadtexCoin.png') no-repeat center center;
  background-size: contain;
  cursor: pointer;
  margin: 70px auto 20px auto;
  transition: transform 0.1s, box-shadow 0.1s;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
}

.coin.active {
  transform: scale(0.95);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#balance, #level {
  position: relative;
  margin: 10px 0;
  font-size: 24px;
  z-index: 10;
  color: white;
}

.click-animation {
  position: absolute;
  font-size: 36px;
  color: white;
  animation: fadeUp 1s ease-out forwards;
  pointer-events: none;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.progress-bar {
  width: 80%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 10px auto;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar-inner {
  height: 100%;
  background: linear-gradient(to right, #00DE70, #0496BC);
  width: 0;
  transition: width 0.3s;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #2C2F36;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

.menu button {
  background-color: #2C2F36;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  flex: 1;
  height: 100%;
  margin: 0;
}

.menu button.active {
  background-color: #1F2126;
}

.menu button:hover, .menu button:active {
  background-color: #1F2126;
}
